<div class="form-group">
  <div class="form-group-header">
    <label for="ReportTitle">Enter a brief but detailed report title. <span class="color-fg-danger text-bold">*</span></label>
  </div>
  <div class="form-group-body">
    <input required class="form-control" type="text" placeholder="I'm unable to connect to Beacon." name="title" id="ReportTitle" />
  </div>
</div>