<div class="form-checkbox">
    <label>
      <input type="checkbox" name="hasevidence" id="HasEvidence" />
      Do you have photo/videos depicting this issue?
    </label>
    <p class="note">
      If checked, you will probably be contacted via Discord where we can collect them.
    </p>
</div>