<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/styles/primer.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Report an Issue with Beacon</title>
        <script src="/static/js/utils.js"></script>
        <script src="/static/js/comments.js"></script>
    </head>
    <body>
        {{ template "menubar.gohtml" .}}

        <div style="padding: 20px;">
            <div class="Layout Layout--divided">
                <div class="Layout-main" style="margin-top:65px;">
                    <div id="ReportContainer" class="col-10">
                        <div class="Box">
                            <div class="Box-row">
                                <h3 class="m-0"> {{ .ReportTitle }}
                                    {{ if .ReportResolved }}
                                        {{ template "resolved_report.html" .}}
                                    {{else}}
                                        {{ template "open_report.html" .}}
                                    {{end}}
                                    <div>
                                        <img class="avatar avatar-5 mr-2" alt="User avatar" src="{{ .ReportAvatar }}" />
                                        {{ .ReportUser }}
                                    </div>
                                    <span class="branch-name float-right pt-1">{{ .ReportUUID }}</span>
                                </h3>
                            </div>


                            <div class="Box-row">
                                <div class="mb-2">
                                    <div class="form-group">
                                        <div class="form-group-body">
                                            <textarea class="text-mono form-control" readonly="readonly">{{ .ReportDescription}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="d-flex">
                                    <p class="text-small">
                                        Submitted at <span class="branch-name">{{ .ReportTime }}</span> by <span
                                                class="branch-name">{{ .ReportIP }}</span>
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="Box">
                            <form id="comment_form">
                                <label for="comment_text">Post Comment</label>
                                <textarea id="comment_text" required="required"></textarea>
                                <div class="form-actions">
                                    <span onclick="postComment()" class="btn btn-primary">Submit Report</span>
                                </div>
                            </form>
                        </div>

                        <!-- Comments Start Here -->

                        <div id="comment_container">

                        </div>

                    </div>

                </div>
                <!-- <div class="Layout-divider"></div> -->
                {{ template "admin_sidebar.html" . }}
            </div>
        </div>
    </body>
</html>
