<div id="Sidebar" class="Layout-sidebar" style="position: fixed; margin-top:60px;">
    <div class="Subhead">
        <h2 class="Subhead-heading">Welcome to the admin page</h2>
      </div>
    <p class="mb-3">
        From here you can see and manage all the reports that come in from users
    </p>
    <p class="mb-3">
        If users are spamming reports then use the ban button to prevent that IP address from making more reports
    </p>
    <p class="mb-3">
        If sufficient users report the same issue then it should be flagged as an issue on the lighthouse Github
    </p>
    <p class="mb-3">
        Anything that doesn't have anything to do with the lighthouse code itself though shouldn't be reported as an issue on github
    </p>
    <p class="mb-3">
        Once reviewed, leave a comment and either resolve it or close it depending on wether or not it was a bug or user error
    </p>
    <hr />
</div>