<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">
<head>
    {{ template "header.gohtml" . }}
    <script src="/static/js/dashboard.js"></script>
    <title>CrashHelper - Admin dashboard</title>
</head>
<body>
    {{ template "menubar.gohtml" . }}

    <div style="padding: 20px;">
        <div class="Layout">
            <div class="Layout-main" style="margin-top:65px;">
                {{ template "admin_dashboard_reports.gohtml" .}}

                <div class="">
                    <div>
                        {{ template "admin_dashboard_notices.gohtml" .}}
                    </div>
                    <div>
                        {{ template "admin_dashboard_categories.gohtml" .}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>