<img width="35" height="35" class="mr-2" src="https://static.wixstatic.com/media/5e70b0_a55a88a3ba0345e68f0a1fad69a555d9~mv2.png" />
<div class="Header" style="position: fixed; width: 100%">
    <div class="Header-item Header-item--full">
        <a href="/" class="Header-link f4 d-flex flex-items-center">
            <span>Report a Beacon Issue</span>
        </a>
    </div>
    {{ if }}
    <div class="Header-item"><a href="">Sign In With Github</a></div>
</div>