<div class="form-group">
    <div class="form-group-header">
    <label for="BeaconUsername">Beacon Username <span class="color-fg-danger text-bold">*</span> </label>
    </div>
    <div class="form-group-body">
    <input
        required
        class="form-control"
        type="text"
        placeholder="Your PSN Name"
        id="BeaconUsername"
        name="username"
        aria-describedby="username-input-validation"
    />
    </div>
</div>