<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles/primer.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Beacon Issue - {{.ReportTitle}} </title>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/comments.js"></script>
    <script src="/static/js/reports.js"></script>

    <meta property="og:site_name" content="CrashHelper" />
    <meta content="{{ .ReportTitle }}" property="og:title" />
    <meta content="{{ .ReportSummary }}" property="og:description" />
    <meta content="/" property="og:url" />
    <meta content="/static/img/CrashHelper.png" property="og:image" />
    <meta content="#15ba15" data-react-helmet="true" name="theme-color" />
    <meta name="twitter:description" content="{{ .ReportSummary }}" />
</head>
<body>
{{ template "menubar.gohtml" .}}

<div style="padding: 20px;">
    <div class="Layout Layout--divided">
        <div class="Layout-main" style="margin-top:65px;">
            <div id="ReportContainer" class="col-10">
                <div class="Box">
                    <div class="Box-row">
                        <h3 class="m-0"> {{ .ReportTitle }}
                            {{ if .ReportResolved }}
                                {{ template "resolved_report.html" }}
                            {{else}}
                                {{ template "open_report.html" }}
                            {{end}}
                            <span class="branch-name float-right mt-2">{{ .ReportUUID }}</span>
                            <br>
                            {{ if .AdminArea }}
                                {{ template "report_buttons.gohtml" .}}
                            {{ end }}
                        </h3>

                        <a class="Link--muted" href="{{ $.LighthouseURL }}/user/{{.UserID}}">
                            <img class="avatar avatar-5 mr-2" alt="User avatar" src="{{ .ReportAvatar }}" />
                            {{ .ReportUser }}
                        </a>
                    </div>


                    <div class="Box-row">
                        <div class="mb-2">
                            <div class="form-group">
                                <div class="form-group-body">
                                    <label for="report_description"><h3 class="m-0">Description</h3></label>
                                    <textarea id="report_description" class="text-mono form-control" readonly="readonly">{{ .ReportDescription}}</textarea>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex">
                            <p class="text-small">
                                Submitted at <span class="branch-name">{{ .ReportTime.Format "Monday January 02 2006, 3:04:05 PM" }}</span>
                                by
                                <span class="branch-name">
                                    {{ if .AdminArea }}
                                        {{ .ReportIP }}
                                    {{ else }}
                                        [Hidden]
                                    {{ end }}
                                </span>
                            </p>
                        </div>
                    </div>

                </div>

                {{ if .AdminArea}}
                <div class="Box">
                    <form id="comment_form">
                        <div class="input-group">
                            <input class="form-control" type="text" name="content" placeholder="Comment..." aria-label="Comment Text">
                            <span class="input-group-button">
                                        <button class="btn btn-primary" onclick="postComment()" type="button" aria-label="Post Comment">
                                            <!-- <%= octicon "clippy" %> -->
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M1 2.75C1 1.784 1.784 1 2.75 1h10.5c.966 0 1.75.784 1.75 1.75v7.5A1.75 1.75 0 0 1 13.25 12H9.06l-2.573 2.573A1.458 1.458 0 0 1 4 13.543V12H2.75A1.75 1.75 0 0 1 1 10.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h4.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path></svg>
                                        </button>
                                    </span>
                        </div>
                    </form>
                </div>
                {{ end }}

                <!-- Comments Start Here -->

                <div id="comment_container" class="mt-2">

                </div>

            </div>

        </div>
        <!-- <div class="Layout-divider"></div> -->
        {{ if .AdminArea }}
            {{ template "admin_sidebar.html" }}
        {{ else }}
            {{ template "sidebar.html" }}
        {{end}}
    </div>
</div>
</body>
</html>
