<div class="form-group">
  <div class="form-group-header">
    <label for="Details">Please describe the issue in detail, as well as steps to reproduce it. <span class="color-fg-danger text-bold">*</span></label>
  </div>
  <div class="form-group-body">
    <textarea required class="form-control" name="details" id="Details"></textarea>
  </div>
</div>