<!DOCTYPE html>
<html data-color-mode="auto" data-light-theme="light" data-dark-theme="dark" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/styles/primer.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/utils.js"></script>
        <script src="/static/js/reports.js"></script>
        <title>Crashhelper Admin - Reports</title>
    </head>
    <body>

        {{ template "menubar.gohtml" .}}

        <div style="padding: 20px;">
            <div class="Layout Layout--divided">

                <div class="Layout-main" style="margin-top:65px;">
                    {{ if .Reports}}
                        <div class="Box">
                                {{ range .Reports }}
                                    <div id="report-{{ .UUID }}" class="Box-row d-flex flex-items-center">
                                        <div class="flex-auto">
                                            <strong>{{ .Title }}

                                            </strong>
                                            <div style="overflow: hidden; text-overflow: ellipsis;" class="text-small color-fg-subtle">
                                                {{ .Description }}
                                            </div>
                                        </div>

                                        {{ if .Resolved }}
                                            {{ template "resolved_report.html" .}}
                                        {{else}}
                                            {{ template "open_report.html" .}}
                                        {{end}}
                                        
                                        <div class="BtnGroup">
                                            <button class="BtnGroup-item btn btn-danger" type="button" onclick="DismissReport('{{ .UUID }}');">Dismiss</button>
                                            <a class="BtnGroup-item btn btn-primary" href="/admin/report?id={{ .UUID }}">View</a>
                                        </div>
                                    </div>
                                {{ end }}
                        </div>
                    {{ else }}
                        <div class="blankslate">
                            <svg class="octicon octicon-octoface blankslate-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M11.28 6.78a.75.75 0 0 0-1.06-1.06L7.25 8.69 5.78 7.22a.75.75 0 0 0-1.06 1.06l2 2a.75.75 0 0 0 1.06 0l3.5-3.5Z"></path><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-1.5 0a6.5 6.5 0 1 0-13 0 6.5 6.5 0 0 0 13 0Z"></path></svg>
                            <h3 class="blankslate-heading">No reports</h3>
                            <p>There are currently no reports.</p>
                        </div>
                    {{ end }}
                </div>
                {{ template "admin_sidebar.html" .}}
            </div>
        </div>
    </body>
</html>