<!DOCTYPE html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/primer.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Report an Issue with Beacon</title>
    <script src="/js/utils.js"></script>
</head>
<body>

    <div class="Header" style="position: fixed; width: 100%">
        <div class="Header-item Header-item--full">
          <a href="/" class="Header-link f4 d-flex flex-items-center">
            <img width="35" height="35" class="mr-2" src="https://static.wixstatic.com/media/5e70b0_a55a88a3ba0345e68f0a1fad69a555d9~mv2.png" />
            <span>Report a Beacon Issue</span>
          </a>
        </div>
    </div>

    <div style="padding: 20px;">
        <div class="Layout Layout--divided">
            <div class="Layout-main" style="margin-top:65px;">

                  <div id="ReportContainer" class="col-10">
                    <div class="Box">
                      <div class="Box-row">
                        <h3 class="m-0">Report {{ .ReportId }}
                        </h3>
                        {{if .ReportExists }}
                            <div class="flash mt-3 flash-warn">
                                <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z"></path></svg>
                                This report is currently under review by our engineers. <% if (ShowSensitive === true) { %><a href="/api/v1/administration/resolve/<%= ReportId %>">Mark as resolved</a><% } %>
                            </div>
                        {{ else }}
                            <div class="flash mt-3 flash-success">
                                <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg>
                                This report has been marked as resolved.
                            </div>
                        {{ end }}
                      </div>

                      <% if (ReportExists === true) { %>

                          <div class="Box-row">
                            <div class="mb-2">
                              <span class="text-bold">Report Title</span>
                              <span class="text-mono ml-1"><%= rTitle %></span>
                            </div>
                            <div class="mb-2">
                              <span class="text-bold">Beacon Username</span>
                              <span class="text-mono ml-1"><%= rBeaconUsername %></span>
                            </div>
                            <div class="mb-2">
                              <span class="text-bold">Issue Type</span>
                              <span class="text-mono ml-1"><%= rIssueType %></span>
                            </div>
                            <div class="mb-2">
                              <span class="text-bold">Platform</span>
                              <span class="text-mono ml-1"><%= rPlatform %></span>
                            </div>
                            <div class="mb-2">
                              <span class="text-bold">Evidence Available?</span>
                              <span class="text-mono ml-1"><%= rEvidenceAvailable %></span>
                            </div>
                            <hr />
                            <div class="mb-2">
                              <div class="form-group">
                                <div class="form-group-body">
                                    <textarea style="color: white;" class="text-mono form-control" readonly="readonly"><%= rExtendedDescription %></textarea>
                                </div>
                              </div>
                            </div>
                            <hr />
                            <div class="d-flex">
                              <p class="text-small">
                                  Submitted at <span class="branch-name"><%= rTimeStamp %></span> by <span class="branch-name"><%= rSubmitterIpAddress %></span>
                              </p>
                            </div>
                        </div>

                    <% } %>
                    </div>
                </div>

            </div>
            <!-- <div class="Layout-divider"></div> -->
           {{ template "sidebar.html" . }}
        </div>
    </div>
</body>
</html>
