<div id="Sidebar" class="Layout-sidebar" style="position: fixed; margin-top:60px;">
                <div class="Subhead">
                    <h2 class="Subhead-heading">Having issues with Beacon?</h2>
                  </div>
                <p class="mb-3">
                    This form allows you to report issues you're encountering with LBP Union's
                    Beacon, our official Lighthouse instance.
                </p>
                <p class="mb-3">
                    Before reporting, ensure you can reproduce the issue. This is important as we
                    will most likely attempt to reproduce the issue using the steps you have provided.
                </p>
                <p class="mb-3">
                    Check our <a href="https://status.lbpunion.com/">status page</a> to ensure we have
                    not already logged an incident and/or a planned maintenance window.
                </p>
                <p class="mb-3">
                    Do not enter any personally identifiable information, your Beacon password, or any
                    other form of credentials.
                </p>
                <p class="mb-3">
                    Upon submitting, <strong>do not share your Report UUID</strong> to <strong>anyone</strong>.
                    Staff members will automatically receive your report details, which includes your Report
                    UUID.
                </p>
                <hr />
            </div>